body {
  margin: 0;

  // кольори і шрифт прописати через змінні
  font-family: Rooboto, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  outline: 1px solid tomato;

  @media screen and (min-width: 480px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 688px;
  }

  @media screen and (min-width: 1366px) {
    width: 1314px;
  }
}
