<section class="about">
  <div class="container">
    <h2 class="about__title">Teacher</h2>
    <picture>
      <source
        srcset="../images/about/teacher-lg.jpg 1x, ../images/about/teacher@2x-lg.jpg 2x"
        media="(min-width: 1200px)"
        type="image/jpg"
      />
      <source
        srcset="../images/about/teacher-s.jpg 1x, ../images/about/teacher@2x-s.jpg 2x"
        media="(max-width: 1199px)"
        type="image/jpg"
      />
      <img
        src="../images/about/teacher-s.jpg"
        alt="teacher Elena Moreva"
        width="243"
        height="306"
        loading="lazy"
      />
    </picture>
  </div>
</section>
