<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Registration for a
      <span class="contacts__title--accent"> free </span>
      phone
      <span class="contacts__title--accent"> consultation </span>
      on nuances of English UPE
    </h2>
    <p class="contacts__subtitle">
      <span class="contacts__subtitle--item">
        Leave a request for participation in a
        <span class="contacts__subtitle--accent"> free lesson</span>.
      </span>
      <span class="contacts__subtitle--item">
        A consultant will contact you and answer your questions
      </span>
    </p>
    <form class="registration__form">
      <div class="registration__form--inputs">
        <input class="registration__item" type="text" name="username" placeholder="Имя*" />
        <input class="registration__item" type="tel" name="phone" placeholder="Телефон*" />
      </div>
      <button class="button button__registration" type="button">хочу на бесплатное занятие</button>
    </form>
  </div>
</section>
