<footer class="footer">
  <div class="container">
    <!-- <a class="header__logo logo" href="">
      <picture>
        <source srcset="
                    ./images/header/logo-black_sm.png  1x,
                    ./images/header/logo-black@2x_sm.png 2x
                    " media="(max-width: 767px)" type="image/jpg" />
        <img src="./images/header/logo-black_sm.png" alt="логотип">
      </picture>
    </a>
    <a href="tel:+38(000)0000000">
      <svg>
        <use href="../images/symbol-defs.svg#phone-icon"></use>
      </svg>
      +38 (000) 000 00 00</a> -->
  </div>
</footer>
