<footer class="footer">
  <div class="container">
      <div>
        <a>
          <img width="80" href="./images/header/logo-black_sm.png" />
        </a>
        <a href="tel:+38(000)0000000">
          <svg width="20" height="20">
            <use href="./images/symbol-defs.svg#phone-icon"></use>
          </svg>
          +38 (000) 000 00 00
        </a>
        <a>
          <img width="40" href="./images/footer/instagram_mobile.png" />
        </a>
      </div>
      <div>
        <p>
          &#169; All rights reserved, 2019
        </p>
      </div>
  </div>
</footer>
