<header class="header">
    <div class="header__container">
        <a class="header__logo logo" href="">
            <span class="logo__upper-text">Hell</span>
            <svg>
                <use></use>
            </svg>
            <span class="logo__upper-text">EN</span>
            <span class="logo__down-text">
            <span class="logo__down-text--accent">HELLISH</span>
            ENGLISH</span>
        </a>
        <!-- <nav class="nav">
            <ul class="nav__link">
                <li class="nav--item">Studying program</li>
                <li class="nav--item">About</li>
                <li class="nav--item">Training options</li>
                <li class="nav--item">Contacts</li>
            </ul>
        </nav> -->
        <!-- <button class="header_bth" type="button" data-menu-button aria-expanded="false">
            Consultation by phone
        </button> -->
        <!-- <button class="header__burger-button" type="button" data-menu-button aria-expanded="false">
            <svg class="header__burger-icon">
                <use class="header__burger-icon--open" href="" ></use>
                <use class="header__burger-icon--close" href="" ></use>
            </svg>
        </button>
        <div>
            <a class="header__link" href="">Hell
                <svg class="header__icon" width="14" height="20">
                    <use class="header__icon-fire" href=""></use>
                </svg>
                EN 
                <p class="logo__text-secondary"><span class="logo__text-secondary--item">HELLISH </span>ENGLISH</p>
            </a>
            <nav class="mobile__nav">
                <ul class="mobile__nav--link">
                    <li class="mobile__nav--item">Studying program</li>
                    <li class="mobile__nav--item">About</li>
                    <li class="mobile__nav--item">Training options</li>
                    <li class="mobile__nav--item">Contacts</li>
                </ul>
            </nav>
            <button class="mobile_bth" type="button" data-menu-button aria-expanded="false">
                Consultation by phone
            </button> -->
        </div>
    </div>
</header>