<section class="hero">
    <div class="hero__container container">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
        <p class="hero__text">
            It won’t be easy.
            <span class="hero__text-item">But you’re guaranteed to get</span>
            <span class="hero__text-link">+25 points</span>
        </p>
        <button class="hero__btn" type="button" data-menu-button aria-expanded="false">
            I want a free lesson
        </button>
    </div>
    <div class="hero__photo">
        <img src="../src/images/hero/teamhero.jpg" alt="photo team">
    </div>
</section>