<section class="problems section">
  <div class="container">
    <h2 class="problems__title">
      The main problems of students</br> in English UPE, which we
      <span class="problems__title-span">help </span> to solve
    </h2>
    <ul class="problems__list">
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle">Grammar</h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle"></h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle"></h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle"></h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle"></h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle"></h3>
      </li>
    </ul>
  </div>
</section>
