.button {
  width: 260px;
  padding: 14px 5px;
  border: 2px solid var(--accent-color);
  font-weight: var(--bold-weight);
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: color var(--duration) var(--cubic-bezier),
    background-color var(--duration) var(--cubic-bezier);

  @include mq(mobile-only) {
    font-size: var(--small-size);
    letter-spacing: var(--large-ls);
  }

  @include mq(tablet) {
    font-size: var(--main-size);
    letter-spacing: var(--huge-ls);
    line-height: 1.2;
  }

  @include mq(desktop) {
    width: 354px;
    padding: 26px 5px;
  }
}

.header__button--transparent {
  display: none;
  color: var(--accent-color);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: var(--accent-color);
  }

  @include mq(tablet) {
    display: block;
    margin-left: 300px;
  }

  @include mq(desktop) {
    display: block;
    width: 336px;
    margin-right: 0;
  }
}

.hero__button--orange {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: transparent;
  }

  @include mq(tablet) {
    margin-right: auto;
    margin-left: 0;
  }

  @include mq(desktop) {
    margin-right: auto;
    margin-left: 0;
  }
}

.footer__button--transparent {
  margin-top: 50px;

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: transparent;
  }

  @include mq(tablet) {
    margin-top: 31px;
  }

  @include mq(desktop) {
    width: 354px;
    margin-top: 80px;
  }
}

.modal__button--orange {
  padding: 16px 65px;
  color: var(--accent-color);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: var(--accent-color);
  }
}
