.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {

}

.logo {
    
    width: 80px;
}

// .logo__wrap {
//     display: flex;
//     position: relative;
//     margin-bottom: -6px;
// }

// .logo__upper-text {
//     display: block;
//     margin-right: 22px;

    
//     font-weight: 800;
//     font-size: 12px;
//     line-height: 1.23;
//     letter-spacing: 0.04em;

//     color: #111518;
//     @media screen and (min-width: 768px) {
//             font-size: 26px;
            
//         }
// }

// .logo__icon {
//     display: block;
//     width: 16px;
//     height: 21px;
//     top: -5px;
//     left: 30px;

//     position: absolute;
    

//     fill: var(--accent-color);
// }

// .logo__down-text {
//     font-weight: 700;
//     font-size: 5px;
//     line-height: 1.2;
//     letter-spacing: 0.18em;
//     text-transform: uppercase;

//     color: #111518;

//     @media screen and (min-width: 768px) { 
//         font-size: 8px;
//         line-height: 1.25;
//     }
// }

// .logo__down-text--accent {
//     color: #FF6B09;
// }

.burger__btn {
    position: relative;
    z-index: 20;
    padding: 0;
    margin: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        .burger__btn {
            display: none;
        }
    }
}

.burger__open {
    fill: #000;
}

.burger_close {
    fill: #fff;
}

.burger__btn:hover .burger__icon,
.burger__btn:focus .burger__icon {
    fill: var(--accent-color);
}

.burger__btn.is-open .burger__open {
    display: none;
}

.burger_close {
    display: none;
}

.burger__btn.is-open .burger_close {
    display: block;
}

.mobile__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 30px 20px;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);

    background: rgba(17, 21, 24, 0.9);

    @media screen and (min-width: 768px) {
        .mobile__menu {
            display: none;
        }
    }
}

.mobile__menu.is-open {
    transform: translateX(0);
}

.mobile__logo {}

.mobile__nav {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mobile__nav-link {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.mobile__nav--item:active {
    color: var(--accent-color);
}