.hero {}

.hero__container {   
}

.hero__title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;    
    letter-spacing: 0.03em;

    color: #111518;;
}

.hero__text {
    
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    color: #B9B9B9;
}

.hero__text-item {
    color: #111518;
}

.hero__text-link {
    color: #FF6B09;
}

.hero__btn {
    
}

.hero__photo {
    text-align: center;
    margin-top: 55px;
}