.problems__number {
  margin-bottom: 5px;
}
.problems__number::before {
  counter-increment: section;
  content: '— 0' counter(section) ' ';
  font-weight: var(--bold-weight);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.problems {
  position: relative;
  padding-bottom: 545px;
  background-color: var(--main-color);

  @include mq(tablet) {
    padding-bottom: 340px;
  }
  @include mq(desktop) {
    padding-bottom: 560px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0)),
      url(../images/problems/fire.svg);

    background-repeat: no-repeat;
    background-position: right 112px;
  }
}
.problems-container {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  @include mq(tablet) {
    top: 60px;
  }
  @include mq(desktop) {
    top: 100px;
  }
}

.problems__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;

  text-align: left;
  letter-spacing: 1.3px;
  margin-bottom: 25px;
  @include mq(tablet) {
  }

  @include mq(desktop) {
    font-size: 46px;
    margin-bottom: 70px;
  }
}

.problems__title-span-accent {
  color: var(--accent-color);
}
.problems__title-span {
  display: block;
  @include mq(tablet) {
    display: table-cell;
  }
  @include mq(desktop) {
    display: table-cell;
  }
}

.problems__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  box-shadow: 4px 6.928px 15.54px 5.46px rgb(29 29 27 / 11%);
  padding: 19px 14px 19px 30px;

  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 26px 46px 30px 96px;
    gap: 20px 22px;
  }
  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 70px 112px 62px 114px;
    gap: 60px 40px;
  }
}

.problems__item {
  position: relative;
  @include mq(tablet) {
    width: calc((100% - 22px) / 2);
  }
  @include mq(desktop) {
    width: calc((100% - 80px) / 3);
  }
}

.problems__subtitle {
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--main-color);

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}
